<ion-header>
    
  <ion-navbar>
    <ion-buttons start>
        <button ion-button (click)="onCancel()">Cancel</button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button (click)="onSave()">Save</button>
      </ion-buttons>
    <ion-title>Add Members</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

      <ion-list *ngIf="anyActiveUsers > 0">
        <ion-list-header>Active Settle-up Members</ion-list-header>
        <ion-item-group *ngFor="let group of groupedContacts">
          <ion-item-divider *ngIf="group.activeUsers" light>{{group.letter}}</ion-item-divider>
          <ng-container *ngFor="let nativeContact of group.contacts">
            <ng-container *ngIf="nativeContact?.activeUser">
              <ion-item (click)="addMember(nativeContact)">
                <h2 *ngIf="nativeContact?.name.givenName">{{nativeContact?.name.givenName}} {{nativeContact?.name.familyName}}</h2>
                <h2 *ngIf="!nativeContact?.name.givenName && nativeContact?.emails[0].value">{{nativeContact?.emails[0].value}}</h2>
                <ion-icon *ngIf="nativeContact?.selected" name="checkmark-circle" item-end></ion-icon>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-item-group>
      </ion-list>

      <ion-list>
        <ion-list-header *ngIf="anyActiveUsers > 0">Other Contacts</ion-list-header>
        <ion-list-header *ngIf="anyActiveUsers === 0">Contacts</ion-list-header>
        <ion-item-group *ngFor="let group of groupedContacts">
          <ion-item-divider *ngIf="!group.onlyActiveUsers" light>{{group.letter}}</ion-item-divider>            
          <ng-container *ngFor="let nativeContact of group.contacts">
            <ng-container *ngIf="!nativeContact?.activeUser">
              <ion-item (click)="addMember(nativeContact)">
                <h2 *ngIf="nativeContact?.name.givenName">{{nativeContact?.name.givenName}} {{nativeContact?.name.familyName}}</h2>
                <h2 *ngIf="!nativeContact?.name.givenName && nativeContact?.emails[0].value">{{nativeContact?.emails[0].value}}</h2>
                <ion-icon *ngIf="nativeContact?.selected" name="checkmark-circle" item-end></ion-icon>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-item-group>
      </ion-list>

  
  </ion-content>

  <ion-footer *ngIf="numberSelected !== 0">
    <ion-toolbar>
      <ion-title>{{numberSelected}} Selected</ion-title>
    </ion-toolbar>
  </ion-footer>