<ion-header>
    
  <ion-navbar>
    <ion-buttons start>
        <button ion-button (click)="onCancel()">Return</button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button (click)="onSave()">Save</button>
      </ion-buttons>
    <ion-title>Add Members</ion-title>
  </ion-navbar>

  <!-- <ion-toolbar>
      <ion-searchbar (ionInput)="getUsers($event)"></ion-searchbar>
  </ion-toolbar> -->
    
</ion-header>

<ion-content padding>

    <!-- <ion-list *ngFor="let displaySearchName of displaySearchNames">
        <ion-card (click)="addMember(displaySearchName)">
          <ion-card-header>
            {{displaySearchName}}
          </ion-card-header>
        </ion-card>
      </ion-list> -->

      <!-- <ion-list *ngFor="let searchUser of searchUsers">
          <ion-card (click)="addMember(searchUser)">
            <ion-card-header>
              {{searchUser?.displayName}}
            </ion-card-header>
          </ion-card>
      </ion-list> -->

      <ion-list>
        <ion-list-header>
          Active Settle-up Members
        </ion-list-header>
        <ng-container *ngFor="let nativeContact of nativeContacts">
          <ion-item *ngIf="nativeContact?.activeUser" (click)="addMember(nativeContact)">
            <ion-avatar item-start *ngIf="nativeContact.photos">
                <img src="{{nativeContact?.photos[0].value}}">
            </ion-avatar>
            <ion-avatar item-start *ngIf="!nativeContact.photos">
                <ngu-letter-avatar avatar-shape="round" avatar-data='{{nativeContact?.name.givenName}}' ></ngu-letter-avatar>              
            </ion-avatar>
            <h2>
              {{nativeContact?.name.givenName}} {{nativeContact?.name.familyName}}
            </h2>
            <ion-icon *ngIf="nativeContact?.selected" name="checkmark-circle" item-end></ion-icon>
          </ion-item>
        </ng-container>
      </ion-list>

      <ion-list>
          <ion-list-header>
            Other Contacts
          </ion-list-header>
          <ng-container *ngFor="let nativeContact of nativeContacts">
            <ion-item *ngIf="!nativeContact?.activeUser" (click)="addMember(nativeContact)">
              <ion-avatar item-start *ngIf="nativeContact.photos">
                  <img src="{{nativeContact?.photos[0].value}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="!nativeContact.photos">
                  <ngu-letter-avatar avatar-shape="round" avatar-data='{{nativeContact?.name.givenName}}' ></ngu-letter-avatar>              
              </ion-avatar>
              <h2>
                {{nativeContact?.name.givenName}} {{nativeContact?.name.familyName}}
              </h2>
              <ion-icon *ngIf="nativeContact?.selected" name="checkmark-circle" item-end></ion-icon>
            </ion-item>
          </ng-container>
        </ion-list>

  
  </ion-content>

  <ion-footer *ngIf="numberSelected !== 0">
    <ion-toolbar>
      <ion-title>{{numberSelected}} Selected</ion-title>
    </ion-toolbar>
  </ion-footer>