page-new-purchase {    
    .required {
        ion-label:after {
            color: #e32;
            content: ' *';
            display:inline;
        }
    }

    .submit-button {
        margin: 20px 0px 0px 20px;
    }

}
