<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="presentPopover($event, currentUserInfo)">
            <ng-container *ngIf="currentUserInfo">
            <ion-avatar *ngIf="currentUserInfo?.photoURL">
                <img style="width: 35px !important;" src="{{currentUserInfo?.photoURL}}">
            </ion-avatar>
            <ion-avatar *ngIf="!currentUserInfo?.photoURL">
              <div style="width: 65% !important; height: 65% !important;">
                <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{currentUserInfo?.displayName}}' ></ngu-letter-avatar>
              </div>
            </ion-avatar>
          </ng-container>
          <ng-container *ngIf="!currentUserInfo">
            <ion-icon name="person"></ion-icon>
          </ng-container>
          </button>
      </ion-buttons>

      <ion-title> <img src="assets/imgs/settle-up_logo.png" alt="Settle Up Logo" class="logo"> </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h1>Welcome {{currentUserInfo?.firstName}}!</h1>
  </ion-item>
    <ion-row>
      <ion-col class="your-friends-owe-left-col">
        <p class="owe-text">Your friends owe you:</p>
        <div class="your-friends-owe-shape">
            <div class="your-friends-owe-content">
                <span>{{yourFriendsOwe | currency:'USD':"symbol":'1.2-2'}}</span>                  
            </div>
        </div>
      </ion-col>
      <ion-col class="your-friends-owe-right-col">
        <p class="owe-text">You owe your friends:</p>
          <div class="you-owe-shape">
              <div class="you-owe-content">
                  <span>{{youOwe | currency:'USD':"symbol":'1.2-2'}}</span>                  
              </div>
          </div>
      </ion-col>
    </ion-row>

    <h3 *ngIf="connections.length !== 0">Your Connections</h3>    
    <ion-list>
        <ng-container *ngFor="let connection of connections">
          <ion-item *ngIf="connection?.uid !== currentUID">
  
            <ion-avatar item-start *ngIf="connection?.photoURL">
                <img src="{{connection?.photoURL}}">
            </ion-avatar>
            <ion-avatar item-start *ngIf="!connection?.photoURL">
                <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{connection?.displayName}}' ></ngu-letter-avatar>              
            </ion-avatar>
  
            <h2>{{connection?.displayName}}</h2>
  
            <ion-row>
                <ion-col>
                  <div class="balances">
                    <ion-icon *ngIf="connection?.balance?.value > 0" name="arrow-round-up"></ion-icon>
                    <ion-icon *ngIf="connection?.balance?.value < 0" name="arrow-round-down"></ion-icon>
                    <ion-icon *ngIf="connection?.balance?.value === 0" name="happy" isActive="false"></ion-icon>
                    <span *ngIf="connection?.balance?.value > 0">Owes you {{connection?.balance?.value | currency:'USD':"symbol":'1.2-2'}}</span>
                    <span *ngIf="connection?.balance?.value < 0">You owe {{connection?.balance?.value | currency:'USD':"symbol":'1.2-2'}}</span>
                    <span *ngIf="connection?.balance?.value === 0">All Settled Up!</span>
                  </div>
                </ion-col>
            </ion-row>
          </ion-item>
        </ng-container>
      </ion-list>

      <div class="no-groups" *ngIf="connections.length === 0 || !connections">
          <ion-icon  isActive="false" name="sad"></ion-icon>
          <br>
          <button ion-button clear (click)="goToGroupsPage()">No connections yet. Create a group!</button>
        </div>

</ion-content>
