<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ng-container *ngIf="currentUserInfo">
            <ion-avatar *ngIf="currentUserInfo?.photoURL">
                <img style="width: 30% !important; height: 30% !important;" src="{{currentUserInfo?.photoURL}}">
            </ion-avatar>
            <ion-avatar *ngIf="!currentUserInfo?.photoURL">
              <div style="width: 65% !important; height: 65% !important;">
                <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{currentUserInfo?.displayName}}' ></ngu-letter-avatar>
              </div>
            </ion-avatar>
          </ng-container>
          <ng-container *ngIf="!currentUserInfo">
            <ion-icon name="person"></ion-icon>
          </ng-container>
          </button>
      </ion-buttons>

    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>

  <button ion-button (click)="logout()">Logout</button>
</ion-content>
