page-purchase-details {
    .logo {
        padding: 15px 10px 10px;
        width: 60%
    }

    .label {
        font-size: 12px;
        margin: 5px auto 10px;
    }

    .value {
        font-size: 16px;
    }

    .purchase-description {
        font-size: 16px;
        word-wrap: normal;

    }
}
