<ion-header>

  <ion-navbar>
    <ion-title>Create New Group</ion-title>
    <ion-buttons right>
    <button ion-button clear (click)='onSaveNewGroup()'>Save</button>
  </ion-buttons>
  </ion-navbar>



</ion-header>


<ion-content padding>
    <form (ngSubmit)="onSaveNewGroup()">
    <ion-item>
      <ion-label stacked>New Group Name</ion-label>
      <ion-input type="text" [(ngModel)]="newGroupName" name="newGroupName"></ion-input>      
    </ion-item>
    <ion-item>
        <ion-label stacked>Description:</ion-label>
        <ion-textarea type="text" [(ngModel)]="newGroupDescription" name="newGroupDescription" placeholder="(optional)"></ion-textarea>      
    </ion-item>
    <h3>Members</h3>

    <ion-list>

      <ion-item *ngIf="currentUserInfo">

          <ion-avatar item-start *ngIf="currentUserInfo?.photoURL">
              <img src="{{currentUserInfo?.photoURL}}">
          </ion-avatar>
          <ion-avatar item-start *ngIf="!currentUserInfo?.photoURL">             
              <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{currentUserInfo?.firstName}} {{currentUserInfo?.lastName}}'></ngu-letter-avatar>              
          </ion-avatar>

        <h2>{{currentUserInfo?.firstName}} {{currentUserInfo?.lastName}}</h2>
        <p>Admin</p>
      </ion-item>

      <ion-item *ngFor="let moreMember of moreMembers">

          <ion-avatar item-start *ngIf="moreMember.photos">
              <img src="{{moreMember?.photos[0].value}}">
          </ion-avatar>
          <ion-avatar item-start *ngIf="!moreMember.photos">
              <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{moreMember?.name.givenName}} {{moreMember?.name.familyName}}'></ngu-letter-avatar>              
          </ion-avatar>
          <h2>{{moreMember?.name.givenName}} {{moreMember?.name.familyName}} </h2>
          <p *ngIf="moreMember?.activeUser">Active Settle-Up User</p>
      </ion-item>

      <ion-item (tap)="addMoreMembers()">
        <ion-avatar item-start>

              <ion-icon name="add-circle"></ion-icon>

          </ion-avatar>
          <h2>Add More Members</h2>
        </ion-item>
    </ion-list>

  </form>
</ion-content>



<!--<button ion-button type="submit" clear small>Submit</button>          
<button ion-button clear small (tap)="onReset()">Reset</button> -->