<ion-header>

  <ion-navbar>
    <ion-title>Create New Group</ion-title>
    <ion-buttons right>
    <button ion-button clear (click)='onSaveNewGroup()'>Save</button>
  </ion-buttons>
  </ion-navbar>



</ion-header>


<ion-content padding>
    <form (ngSubmit)="onSaveNewGroup()">
    <ion-item>
      <ion-label stacked>New Group Name</ion-label>
      <ion-input type="text" [(ngModel)]="newGroupName" name="newGroupName"></ion-input>      
    </ion-item>
    <ion-item>
        <ion-label stacked>Description:</ion-label>
        <ion-textarea type="text" [(ngModel)]="newGroupDescription" name="newGroupDescription" placeholder="(optional)"></ion-textarea>      
    </ion-item>
    <h3>Members</h3>

    <ion-list>

      <!-- <ion-item>
        <ion-avatar *ngIf="currentUserInfo" item-start>
          <ngu-letter-avatar avatar-shape="round" avatar-data='{{currentUserInfo?.firstName}}' ></ngu-letter-avatar>
        </ion-avatar>
        <h2>{{currentUserInfo?.firstName}}</h2>
        <p>You will be administrator of this group.</p>
      </ion-item> -->

      <!-- <ion-item>    *****ngFor for users as they are added.
          <ion-avatar item-start>
            <ngu-letter-avatar avatar-shape="round" avatar-data='{{currentUserName}}' ></ngu-letter-avatar>
          </ion-avatar>
          <h2>{{currentUserName}}</h2>
          <p>You will be administrator of this group.</p>
      </ion-item> -->

      <ion-item (click)="addMoreMembers()">
        <ion-avatar item-start>

              <ion-icon name="add-circle"></ion-icon>

          </ion-avatar>
          <h2>Add More Members</h2>
        </ion-item>
    </ion-list>

  </form>
</ion-content>



<!--<button ion-button type="submit" clear small>Submit</button>          
<button ion-button clear small (tap)="onReset()">Reset</button> -->