page-new-group {
    ion-icon {
        font-size: 30pt
    }

    .required {
        ion-label:after {
            color: #e32;
            content: ' *';
            display:inline;
        }
    }
}
