page-group-details {
    .group-name {
        font-size: 1.5em;
        font-weight: bold;

    }

    .group-details {
        font-size: 1.25em;
        word-wrap: normal;

    }

    .balances ion-icon {
        font-size: 30px;
        position: relative;
        top: 5px;

    }

    .balances span {
        margin-left: 7px;
    }

    ion-note {
        font-size: 0.75em;
    }

}