<ion-header>

  <ion-navbar>
      <ion-title> <img src="assets/imgs/settle-up_logo.png" alt="Settle Up Logo" class="logo"> </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="goToNewPurchase(groupDetails?.key)">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
    
  </ion-navbar>
  

</ion-header>


<ion-content>

  <ng-container *ngIf="groupDetails">
      <div style="padding: 16px 16px 0px 16px;">
      <h1>{{groupDetails?.groupName}}</h1>

      <ion-label *ngIf="groupDetails?.groupDescription" stacked>Description:</ion-label>
      <div class="group-details">
        {{groupDetails?.groupDescription}}
      </div>

    <h3>Your Balances</h3>
    <ion-list>
      <ng-container *ngFor="let groupMember of groupMembers">
        <ion-item *ngIf="groupMember?.email !== currentUserInfo?.email">

          <ion-avatar item-start *ngIf="groupMember?.photoURL">
              <img src="{{groupMember?.photoURL}}">
          </ion-avatar>
          <ion-avatar item-start *ngIf="!groupMember?.photoURL">
              <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{groupMember?.displayName}}' ></ngu-letter-avatar>              
          </ion-avatar>

          <h2>{{groupMember?.displayName}}</h2>

          <ion-row>
              <ion-col>
                <div class="balances">
                  <ion-icon *ngIf="groupMember[groupMember.uid + '-' + currentUID] < 0" name="arrow-round-up"></ion-icon>
                  <ion-icon *ngIf="groupMember[groupMember.uid + '-' + currentUID] > 0" name="arrow-round-down"></ion-icon>
                  <ion-icon *ngIf="groupMember[groupMember.uid + '-' + currentUID] === 0" name="happy" isActive="false"></ion-icon>
                  <span *ngIf="groupMember[groupMember.uid + '-' + currentUID] < 0">Owes you {{groupMember[groupMember.uid + '-' + currentUID] * -1 | currency:'USD':"symbol":'1.2-2'}}</span>
                  <span *ngIf="groupMember[groupMember.uid + '-' + currentUID] > 0">You owe {{groupMember[groupMember.uid + '-' + currentUID] * -1 | currency:'USD':"symbol":'1.2-2'}}</span>
                  <span *ngIf="groupMember[groupMember.uid + '-' + currentUID] === 0">All Settled Up!</span>
                </div>
              </ion-col>
          </ion-row>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
  <h3 style="padding:0px 16px;" *ngIf="purchases.length" >Group Purchases</h3>
    <ion-list *ngIf="purchases.length" style="padding: 0px !important;">
      <ion-item style="padding: 0px !important;">
        <ion-row>
          <ion-item no-lines>
            <ion-scroll zoom="false" scrollX="true">
                <div *ngFor="let purchase of purchases" class="square-purchases" (click)="goToPurchaseDetails(purchase)">
                    <div class="square-purchases-content">
                        <span class="price">{{purchase?.price | currency:'USD':"symbol":'1.2-2'}}</span>
                        <br>
                        <span class="item">{{purchase?.item}}</span>
                    </div>
                </div>
            </ion-scroll>
          </ion-item>
        </ion-row>
      </ion-item>
      </ion-list>

      <div *ngIf="!purchases.length" class="no-purchases">
          <ion-icon  isActive="false" name="sad"></ion-icon>
          <br>
          <button ion-button clear (click)="goToNewPurchase(groupDetails?.key)">No purchases yet. Add one now!</button>
      </div>

  </ng-container>
</ion-content>
