<ion-header>

  <ion-navbar>
    <ion-title>Group Details</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="goToNewPurchase(groupDetails?.key)">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
    
  </ion-navbar>
  

</ion-header>


<ion-content padding>
  <ng-container *ngIf="groupDetails">
      <ion-label stacked>Group Name:</ion-label>
      <div class="group-name">{{groupDetails?.groupName}}</div>

      <ion-label *ngIf="groupDetails?.groupDescription" stacked>Description:</ion-label>
      <div class="group-details">
        {{groupDetails?.groupDescription}}
      </div>

      <!-- <div class="button">
        <button ion-button (click)="goToNewPurchase(groupDetails?.key)">Add New Purchase</button>
      </div> -->
          
    <br>
    <h3>Your Balances</h3>
    <ion-list>
      <ng-container *ngFor="let groupMember of groupMembers">
        <ion-item *ngIf="groupMember?.email !== currentUserInfo?.email">

          <ion-avatar item-start *ngIf="groupMember?.photoURL">
              <img src="{{groupMember?.photoURL}}">
          </ion-avatar>
          <ion-avatar item-start *ngIf="!groupMember?.photoURL">
              <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{groupMember?.displayName}}' ></ngu-letter-avatar>              
          </ion-avatar>

          <h2>{{groupMember?.displayName}}</h2>

          <ion-row>
              <ion-col>
                <div class="balances">
                  <ion-icon *ngIf="groupMember[groupMember.groupID + '-' + activeUserGroupID] < 0" name="arrow-round-up"></ion-icon>
                  <ion-icon *ngIf="groupMember[groupMember.groupID + '-' + activeUserGroupID] > 0" name="arrow-round-up"></ion-icon>
                  <ion-icon *ngIf="groupMember[groupMember.groupID + '-' + activeUserGroupID] === 0" name="happy" isActive="false"></ion-icon>
                  <span *ngIf="groupMember[groupMember.groupID + '-' + activeUserGroupID] < 0">owes you {{groupMember[groupMember.groupID + '-' + activeUserGroupID] * -1 | currency:'USD':"symbol":'1.2-2'}}</span>
                  <span *ngIf="groupMember[groupMember.groupID + '-' + activeUserGroupID] > 0">You owe {{groupMember[groupMember.groupID + '-' + activeUserGroupID] * -1 | currency:'USD':"symbol":'1.2-2'}}</span>
                  <span *ngIf="groupMember[groupMember.groupID + '-' + activeUserGroupID] === 0">All Settled Up!</span>
                </div>
              </ion-col>    
          </ion-row>

        </ion-item>
      </ng-container>

    </ion-list>
  </ng-container>
</ion-content>
