page-group-details {
    .group-name {
        font-size: 1.5em;
        font-weight: bold;

    }

    .group-details {
        font-size: 1.25em;
        word-wrap: normal;

    }

    ion-note {
        font-size: 0.75em;
    }

    .button {
        text-align: center;
    }
}