page-group-details {

    .group-details {
        font-size: 1.25em;
        word-wrap: normal;

    }

    .balances ion-icon {
        font-size: 30px;
        position: relative;
        top: 5px;

    }

    .balances span {
        margin-left: 7px;
    }

    .square-purchases{
        background: #0071BC;
        position: relative;
        text-align: center;
        width: 120px;
        height: 120px;
        display: inline-block;
        margin: 0px 10px 0px;
      }

      .square-purchases-content {
        position: absolute;
        width: 100%;
        height: 100%;
        color: #D7DADB;
        padding-top: 25%;

        .price {
            font-size: 25px;
        }

        .item {
            font-size: 12px;
        }
      }

      ion-scroll[scrollX] {
        white-space: nowrap;
        height: 125px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;

        .scroll-item {
          display: inline-block;
        }        
      }

      .no-purchases{
        text-align: center;
        ion-icon {
            font-size: 100px;
        }
      }

      .logo {
        padding: 15px 10px 10px;
        width: 120px;
        }

}