page-edit-purchase {

    .submit-button {
        margin: 20px 0px 0px 20px;
        float:left;
    }

    .delete-button {
        margin: 20px 0px 0px 20px;
        text-align: center;
        
    }
}
