page-groups {

    ion-note {
        font-size: 0.75em;
    }
    .recent-note {
        margin: 5px 5px 0px 0px;
        float:left;
    }

    .group-member-info {
        ion-label {
            display: flex;
            flex-direction: row;
            align-items: baseline
        }
    
        ion-icon {
            font-size: 25px;
            position: relative;
            top: 5px;
        }
    }

    .group-purchases-info {
        position: relative;
        top: 5px;
        ion-label {
            display: flex;
            flex-direction: row;
            align-items: baseline
        }
    
        ion-icon {
            font-size: 20px;
            position: relative;
            top: 5px;
        }
    }

    .logo {
        padding: 15px 10px 10px;
        width: 60%
    }

    .no-groups {
        text-align: center;
        ion-icon {
            font-size: 100px;
        }
    }

    .recent {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 50%;
        float: left;
        margin: 0px 5px 0px 0px;

    }

}
