<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="presentPopover($event, currentUserInfo)">
              <ng-container *ngIf="currentUserInfo">
                <ion-avatar *ngIf="currentUserInfo?.photoURL">
                    <img style="width: 30% !important; height: 30% !important;" src="{{currentUserInfo?.photoURL}}">
                </ion-avatar>
                <ion-avatar *ngIf="!currentUserInfo?.photoURL">
                  <div style="width: 65% !important; height: 65% !important;">
                    <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{currentUserInfo?.displayName}}' ></ngu-letter-avatar>
                  </div>
                </ion-avatar>
          </ng-container>
          <ng-container *ngIf="!currentUserInfo">
            <ion-icon name="person"></ion-icon>
          </ng-container>
          </button>
      </ion-buttons>

        <ion-title> <img src="assets/imgs/settle-up_logo.png" alt="Settle Up Logo" class="logo"> </ion-title>
        
    <ion-buttons end>
        <button ion-button icon-only (click)="goToNewGroup()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 *ngIf="groups">Your Groups</h1>
    
  <ion-list *ngIf="groups">
    <button ion-item *ngFor="let group of groups" (click)="goToGroupDetails(group.key)">
      <h1>{{group?.groupName}}</h1>
      <p>{{group?.groupDescription}}</p>
      <ion-row>
          <ion-col class="group-member-info">
            <div>
              <ion-icon name="people" style="font-size:25px"></ion-icon>
              <ion-badge>{{group?.members?.length}}</ion-badge>
              <ion-note>members</ion-note>
            </div>
          </ion-col>

          <ion-col class="group-purchases-info">
            <div>
              <ion-icon name="pricetag"></ion-icon>
              <ion-badge>{{group?.numPurchases}}</ion-badge>
              <ion-note>purchases</ion-note>
            </div>
          </ion-col>
      </ion-row>
      <div *ngIf="group.mostRecentPurchase" class="recent">
        <ion-note>Recent </ion-note>
        {{group?.mostRecentPurchase?.item}} for {{group?.mostRecentPurchase?.price | currency:'USD':"symbol":'1.2-2' }}
      </div>

      <div *ngIf="!group.mostRecentPurchase" class="recent">
          <ion-note>No purchases yet. Add a purchase now!</ion-note>          
      </div>


    </button>
  </ion-list>
  
<div *ngIf="!groups" class="no-groups">
  <ion-icon  isActive="false" name="sad"></ion-icon>
  <br>
  <button ion-button clear (click)="goToNewGroup()">No groups yet. Create a group now!</button>
</div>
</ion-content>


        <!-- <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-avatar item-start *ngIf="group?.members[0].photoURL">
                  <img src="{{group?.members[0].photoURL}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="!group?.members[0].photoURL">
                  <ngu-letter-avatar avatar-shape="round" avatar-data='{{group?.members[0].displayName}}' ></ngu-letter-avatar>              
              </ion-avatar>
            </ion-col>

            <ion-col col-3>
            <ng-container *ngIf="group?.members[1]">
              <ion-avatar item-start *ngIf="group?.members[1].photoURL">
                  <img src="{{group?.members[1].photoURL}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="!group?.members[1].photoURL">
                  <ngu-letter-avatar avatar-shape="round" avatar-data='{{group?.members[1].displayName}}'></ngu-letter-avatar>              
              </ion-avatar>
            </ng-container>
          </ion-col>

            <ion-col col-3>
            <ng-container *ngIf="group?.members[2]">
              <ion-avatar item-start *ngIf="group?.members[2].photoURL">
                  <img src="{{group?.members[2].photoURL}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="!group?.members[2].photoURL">
                  <ngu-letter-avatar avatar-shape="round" avatar-data='{{group?.members[2].displayName}}'></ngu-letter-avatar>              
              </ion-avatar>
            </ng-container>
          </ion-col>

        </ion-row>
      </ion-grid> -->