<ion-header>
  <ion-navbar>
    <ion-title>
      Your Groups
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (tap)="goToNewGroup()">Create New Group</button>
    
  <ion-list>
    <button ion-item *ngFor="let group of groups | async" (tap)="goToGroupDetails(group.key)">
      <h2>{{group?.groupName}}</h2>
      <p>{{group?.groupDescription}}</p>
      <ion-row>
          <ion-col class="group-member-info">
            <div>
              <ion-icon name="people" style="font-size:25px"></ion-icon>
              <ion-badge>{{group?.members?.length}}</ion-badge>
              <ion-note>members</ion-note>
            </div>
          </ion-col>

          <ion-col class="group-purchases-info">
            <div>
              <ion-icon name="pricetag"></ion-icon>
              <ion-badge>2</ion-badge>
              <ion-note>purchases</ion-note>
            </div>
          </ion-col>
      </ion-row>
    </button>
  </ion-list>

</ion-content>


        <!-- <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-avatar item-start *ngIf="group?.members[0].photoURL">
                  <img src="{{group?.members[0].photoURL}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="!group?.members[0].photoURL">
                  <ngu-letter-avatar avatar-shape="round" avatar-data='{{group?.members[0].displayName}}' ></ngu-letter-avatar>              
              </ion-avatar>
            </ion-col>

            <ion-col col-3>
            <ng-container *ngIf="group?.members[1]">
              <ion-avatar item-start *ngIf="group?.members[1].photoURL">
                  <img src="{{group?.members[1].photoURL}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="!group?.members[1].photoURL">
                  <ngu-letter-avatar avatar-shape="round" avatar-data='{{group?.members[1].displayName}}'></ngu-letter-avatar>              
              </ion-avatar>
            </ng-container>
          </ion-col>

            <ion-col col-3>
            <ng-container *ngIf="group?.members[2]">
              <ion-avatar item-start *ngIf="group?.members[2].photoURL">
                  <img src="{{group?.members[2].photoURL}}">
              </ion-avatar>
              <ion-avatar item-start *ngIf="!group?.members[2].photoURL">
                  <ngu-letter-avatar avatar-shape="round" avatar-data='{{group?.members[2].displayName}}'></ngu-letter-avatar>              
              </ion-avatar>
            </ng-container>
          </ion-col>

        </ion-row>
      </ion-grid> -->