page-groups {

    ion-note {
        font-size: 0.75em;
    }

    .group-member-info {
        ion-label {
            display: flex;
            flex-direction: row;
            align-items: baseline
        }
    
        ion-icon {
            font-size: 25px;
            position: relative;
            top: 5px;
        }
    }

    .group-purchases-info {
        position: relative;
        top: 5px;
        ion-label {
            display: flex;
            flex-direction: row;
            align-items: baseline
        }
    
        ion-icon {
            font-size: 20px;
            position: relative;
            top: 5px;
        }
    }

    .logo {
        padding: 15px 10px 10px;
        width: 60%
    }

    .no-groups {
        text-align: center;
        ion-icon {
            font-size: 100px;
        }
    }

    .recent {
        margin: 10px auto 5px;
    }
}
