page-purchases {
    .logo {
        padding: 15px 10px 10px;
        width: 60%
    }

    .purchase-price-shape {
        border-radius:50%;
        background: #2C3E50;
        position: relative;
        text-align: center;
        width: 60px;
        height: 60px;
        display: inline-block;
        margin: 0px 10px 0px;
        line-height: 0;

      }

    .purchase-price-content {
        position: relative;
        width: 100%;
        height: 100%;
        color: #D7DADB;
        margin: 50% 0;
        font-size: 16px;
        
        
      }

      ion-avatar {
          float:left;
      }
}
