<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ng-container *ngIf="currentUserInfo">
                <ion-avatar *ngIf="currentUserInfo?.photoURL">
                    <img style="width: 30% !important; height: 30% !important;" src="{{currentUserInfo?.photoURL}}">
                </ion-avatar>
                <ion-avatar *ngIf="!currentUserInfo?.photoURL">
                  <div style="width: 65% !important; height: 65% !important;">
                    <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{currentUserInfo?.displayName}}' ></ngu-letter-avatar>
                  </div>
                </ion-avatar>
          </ng-container>
          <ng-container *ngIf="!currentUserInfo">
            <ion-icon name="person"></ion-icon>
          </ng-container>
          </button>
      </ion-buttons>


    <ion-title>
      Purchases
    </ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="goToNewPurchase()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <button ion-button (click)="goToNewPurchase()">Add New Purchase</button> -->
</ion-content>
