<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only (click)="presentPopover($event, currentUserInfo)">
              <ng-container *ngIf="currentUserInfo">
                <ion-avatar *ngIf="currentUserInfo?.photoURL">
                    <img style="width: 30% !important; height: 30% !important;" src="{{currentUserInfo?.photoURL}}">
                </ion-avatar>
                <ion-avatar *ngIf="!currentUserInfo?.photoURL">
                  <div style="width: 65% !important; height: 65% !important;">
                    <ngu-letter-avatar avatar-shape="round" avatar-char-count="2" avatar-data='{{currentUserInfo?.displayName}}' ></ngu-letter-avatar>
                  </div>
                </ion-avatar>
          </ng-container>
          <ng-container *ngIf="!currentUserInfo">
            <ion-icon name="person"></ion-icon>
          </ng-container>
          </button>
      </ion-buttons>


      <ion-title> <img src="assets/imgs/settle-up_logo.png" alt="Settle Up Logo" class="logo"> </ion-title>
      

    <ion-buttons end>
        <button ion-button icon-only (click)="goToNewPurchase()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 *ngIf="purchases.length > 0 && purchases">Your Purchases</h1>

    <ion-list *ngIf="purchases.length > 0 && purchases">
        <button ion-item *ngFor="let purchase of purchases" (click)="goToPurchaseDetails(purchase)"> <!--FIX-->
          <ion-avatar>
            <div class="purchase-price-shape">
              <div class="purchase-price-content">
                  <span>{{purchase?.price | currency:'USD':"symbol":'1.2-2'}}</span>                  
              </div>
            </div>
          </ion-avatar>
          <h1>{{purchase?.item}}</h1>
          <p>{{purchase?.groupName}}</p>

          <!-- <ion-row>
              <ion-col class="group-member-info">
                <div>
                  <ion-icon name="people" style="font-size:25px"></ion-icon>
                  <ion-badge>{{group?.members?.length}}</ion-badge>
                  <ion-note>members</ion-note>
                </div>
              </ion-col>
    
              <ion-col class="group-purchases-info">
                <div>
                  <ion-icon name="pricetag"></ion-icon>
                  <ion-badge>{{group?.numPurchases}}</ion-badge>
                  <ion-note>purchases</ion-note>
                </div>
              </ion-col>
          </ion-row> -->
          <!-- <div *ngIf="group.mostRecentPurchase" class="recent">
            <ion-note>Recent </ion-note>
            {{group?.mostRecentPurchase?.item}} for {{group?.mostRecentPurchase?.price | currency:'USD':"symbol":'1.2-2' }}
          </div>
    
          <div *ngIf="!group.mostRecentPurchase" class="recent">
              <ion-note>No purchases yet. Add a purchase now!</ion-note>          
          </div> -->
    
    
        </button>
      </ion-list>

      <div *ngIf="purchases.length === 0 || !purchases" class="no-purchases">
          <ion-icon  isActive="false" name="sad"></ion-icon>
          <br>
          <button style="margin: auto" *ngIf="groups === [] || !groups" ion-button clear (click)="goToGroupsPage()">No purchases yet. Create a group first!</button>
          <button style="margin: auto" *ngIf="groups !== [] && groups" ion-button clear (click)="goToNewPurchase()">No purchases yet. Add one now!</button>
      </div>

</ion-content>
